@import "tailwindcss";
@plugin 'daisyui' {
	theme:
		pilots --default,
		pilots --prefersdark;
}

@plugin 'daisyui/theme' {
	name: 'pilots';
	default: true;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(14% 0.005 285.823);
	--color-base-200: oklch(21% 0.006 285.885);
	--color-base-300: oklch(27% 0.006 286.033);
	--color-base-content: oklch(96% 0.001 286.375);
	--color-primary: #002366;
	--color-primary-content: oklch(98% 0.018 155.826);
	--color-secondary: #002366;
	--color-secondary-content: oklch(98% 0.018 155.826);
	--color-accent: oklch(65% 0.241 354.308);
	--color-accent-content: oklch(97% 0.014 343.198);
	--color-neutral: oklch(27% 0.006 286.033);
	--color-neutral-content: oklch(98% 0 0);
	--color-info: oklch(78% 0.154 211.53);
	--color-info-content: oklch(30% 0.056 229.695);
	--color-success: oklch(77% 0.152 181.912);
	--color-success-content: oklch(27% 0.046 192.524);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(27% 0.077 45.635);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 1rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1.5px;
	--depth: 0;
	--noise: 0;
}
